/*
 * Theme colors:
 *      red #811910;
 */


@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
	background-color: #fff;
	color: #000;
    font-family:  'Nunito', sans-serif;
}
p {
    font-size: 1.15em;
    text-align:justify;
}

/* NAV BAR */
.menu {
    padding-top: 5vh;
}
.menu img{
    width: 100%;
}
#nav_button {
    padding-top: 40vh;
}

/* HOME PAGE */
#landing {
    height: 80vh;
}
#home_logo {
    height: 30vh;
}

/* MENU PAGE */
#juke-btn {
    width: 100%;
}

/* SEEBURG PAGE */
#no_display {
    display: none;
}

/* RENT PAGE */
#rent-about {
    text-align: justify;
}
.parallax-container{
    height: 300px;
}

/*FAQ PAGE*/
.faq-list>li{
    opacity: 0;
}

/* ABOUT PAGE */
#kid_juke {
    width: 100%;
    padding-top: 5vh;
}


/* FOOTER */
footer.page-footer {
    padding: 10px;
    background-color:#811910;
    margin-top: 50px;
}

footer a {
    color: #EA6D5B;
    font-family: 'Montserrat', sans-serif;
}

